.title {
    font-size  : 4.5rem;
    font-weight: 700;

}

.title span {
    margin-bottom: -15px;
}

p {
    font-weight: 500;
    margin-top : 20px !important;
}

.btn-home {
    background-color: hsl(0, 0%, 8%) !important;
    color           : hsl(0, 0%, 98%) !important;
    border          : 1px solid hsl(0, 0%, 8%) !important;
    font-size       : 18px;
    font-weight     : 500;
    border-radius   : 15px !important;
    padding         : 10px 30px !important;
    margin          : 25px 0 40px 0;
}

.btn-home:hover {
    background-color: transparent !important;
    color           : #000 !important;
    border          : 1px solid hsl(0, 0%, 41%) !important;
}



@media only screen and (max-width: 1200px) {
    .title {
        font-size: 3.3rem;
    }

    p {
        font-weight  : 500;
        margin-top   : 40px !important;
    }
}

@media only screen and (max-width: 992px) {
    .title {
        font-size: 2.7rem;
    }

    p {
        font-size    : 17px;
        font-weight  : 500;
        line-height  : 1;
        padding-right: 5%;
        margin-top   : 15px !important;
        margin-top   : 15px !important;
    }
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    p {
        font-size    : 14px;
        font-weight  : 500;
        line-height  : 1;
        margin-top   : 20px !important;
    }
}

@media screen and (max-width: 600px) {
    .title {

        font-size: 1.8rem;
    }

    p span {
        font-size    : 12px !important;
    }

    .attribution {
        font-size: 10px;
    }
    br{
        display: none;
    }
}