.nav-bg {
    background-color: hsl(0, 0%, 98%) !important;
}

.offcanvas {
    width: 65% !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.navbar-toggler {
    padding  : 0 !important;
    font-size: 20px !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    border       : none !important;
    box-shadow   : 0 1rem 1rem rgba(0, 0, 0, 0.20);
    border-radius: 10px !important;
}
.offcanvas{
    background-color: hsl(0, 0%, 98%) !important;
}

.nav-link,
.btn {
    font-weight: 500 !important;
}

.btn-register {
    background-color: transparent !important;
    color           : hsl(0, 0%, 41%) !important;
    border          : 1px solid hsl(0, 0%, 41%) !important;
    font-size       : 18px;
    font-weight     : 500;
    border-radius   : 15px !important;
    padding         : 10px 20px !important;
}

.btn-register:hover {
    background-color: transparent !important;
    color           : hsl(0, 0%, 8%) !important;
    border          : 1px solid hsl(0, 0%, 8%) !important;

}

.btn-login {
    background-color: hsl(0, 0%, 98%) !important;
    color           : hsl(0, 0%, 41%) !important;
    border          : none !important;
}

.btn-login:hover {
    color: hsl(0, 0%, 8%) !important;
}

@media only screen and (max-width: 768px) {

    .nav-link {
        color: hsl(0, 0%, 41%) !important;
    }
}