@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body {
  background-color: hsl(0, 0%, 98%) !important;
  font-family     : 'Epilogue', sans-serif;
}
.attribution {
  font-size    : 12px;
  text-align   : center;
  font-weight  : 500;
  padding: 30px;
  background-color: hsl(0, 100%, 80%);
}

.attribution a {
  color          : hsl(0, 0, 4%);
  text-decoration: none;
}